test/nr_app/sys_mon.json
[{"id":"dd87151e8399aa08","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"1120c9ef2fd3d104","type":"mqtt-broker","name":"mqtt.mynet","broker":"mqtt.mynet","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8a63837735ddfc7a","type":"ui_tab","name":"hw monitor","icon":"dashboard","disabled":false,"hidden":false},{"id":"9ef19117b5c42107","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Posejdon system","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3fe8c84046549cad","type":"ui_group","name":"Posejdon system","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b3572e2c13415fbe","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"5fd562192b9bc041","type":"ui_group","name":"Temp","tab":"8a63837735ddfc7a","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"42cbf7a01a5d1aa4","type":"ui_group","name":"Memory","tab":"8a63837735ddfc7a","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cfa0f2d04b1ae3a0","type":"ui_group","name":"Disk","tab":"8a63837735ddfc7a","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ec6f74cb179b2f30","type":"ui_group","name":"WiFi","tab":"8a63837735ddfc7a","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3a5d5c5f4ce3f0ea","type":"ui_group","name":"System","tab":"8a63837735ddfc7a","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"20f0c0406eba0f78","type":"ui_group","name":"CPU load","tab":"8a63837735ddfc7a","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6cdc21e7420e05ba","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ac1e87edebda87e0","type":"ui_tab","name":"System Monitor","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fca6a1c92507ae21","type":"ui_group","name":"CPU","tab":"ac1e87edebda87e0","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1abc4d1943c5b51d","type":"mqtt in","z":"dd87151e8399aa08","name":"localhost","topic":"#","qos":"2","datatype":"auto","broker":"6cdc21e7420e05ba","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":800,"wires":[["798503567013853f","7379fef97be04a5b","5c4e2759aa855ddb"]]},{"id":"5c4e2759aa855ddb","type":"debug","z":"dd87151e8399aa08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":960,"wires":[]},{"id":"bab94840bf79b28e","type":"ui_gauge","z":"dd87151e8399aa08","name":"Cpu Temp","group":"5fd562192b9bc041","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1110,"y":60,"wires":[]},{"id":"9ec11efe6cb5fed1","type":"ui_chart","z":"dd87151e8399aa08","name":"CPU Temp","group":"5fd562192b9bc041","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1110,"y":100,"wires":[[]]},{"id":"c61e5cc51dc35fcc","type":"switch","z":"dd87151e8399aa08","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"cputemp","vt":"str"},{"t":"eq","v":"cpuload","vt":"str"},{"t":"eq","v":"memory","vt":"str"},{"t":"eq","v":"diskusage","vt":"str"},{"t":"eq","v":"wifi_signal_dbm","vt":"str"},{"t":"eq","v":"wifi_signal","vt":"str"},{"t":"eq","v":"uptime_seconds","vt":"str"},{"t":"eq","v":"sys_clock_speed","vt":"str"},{"t":"eq","v":"voltage","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":790,"y":300,"wires":[["bab94840bf79b28e","9ec11efe6cb5fed1"],["a6d6c2de44da4295","23cadcbe62322750"],["a5f9ce2646618821","1bbb47613d499a08"],["21b299519784365f","3694922d2877f2f3"],["d6b46a207a0cb93d"],["98247dd70d685374"],["91a275d234133221"],["8b526c271a9379f7"],["191b9ac93739d377"]]},{"id":"a5f9ce2646618821","type":"ui_gauge","z":"dd87151e8399aa08","name":"Memory","group":"42cbf7a01a5d1aa4","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1100,"y":240,"wires":[]},{"id":"1bbb47613d499a08","type":"ui_chart","z":"dd87151e8399aa08","name":"Memory","group":"42cbf7a01a5d1aa4","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1100,"y":280,"wires":[[]]},{"id":"21b299519784365f","type":"ui_gauge","z":"dd87151e8399aa08","name":"Disk","group":"cfa0f2d04b1ae3a0","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1090,"y":340,"wires":[]},{"id":"3694922d2877f2f3","type":"ui_chart","z":"dd87151e8399aa08","name":"Disk","group":"cfa0f2d04b1ae3a0","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1090,"y":380,"wires":[[]]},{"id":"98247dd70d685374","type":"ui_gauge","z":"dd87151e8399aa08","name":"WiFi","group":"ec6f74cb179b2f30","order":4,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1090,"y":480,"wires":[]},{"id":"d6b46a207a0cb93d","type":"ui_gauge","z":"dd87151e8399aa08","name":"WiFiDbm","group":"ec6f74cb179b2f30","order":4,"width":0,"height":0,"gtype":"gage","title":"","label":"dbm","format":"{{value}}","min":"-100","max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1100,"y":440,"wires":[]},{"id":"91a275d234133221","type":"ui_text","z":"dd87151e8399aa08","group":"3a5d5c5f4ce3f0ea","order":0,"width":0,"height":0,"name":"Uptime [s]","label":"Uptime [s]","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1100,"y":540,"wires":[]},{"id":"8b526c271a9379f7","type":"ui_text","z":"dd87151e8399aa08","group":"3a5d5c5f4ce3f0ea","order":0,"width":0,"height":0,"name":"CPU clk","label":"CPU [MHz]","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1100,"y":580,"wires":[]},{"id":"a6d6c2de44da4295","type":"ui_gauge","z":"dd87151e8399aa08","name":"Cpu Load","group":"20f0c0406eba0f78","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1100,"y":160,"wires":[]},{"id":"23cadcbe62322750","type":"ui_chart","z":"dd87151e8399aa08","name":"CPU Load","group":"20f0c0406eba0f78","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1110,"y":200,"wires":[[]]},{"id":"2c9716cee478692b","type":"function","z":"dd87151e8399aa08","name":"reduce topic segments","func":"\n// Split the topic by '/'\nlet segments = msg.topic.split('/');\n\n// Get the last segment\nlet lastSegment = segments[segments.length - 1];\n\n// Set the new topic to the last segment\nmsg.topic = lastSegment;\n\n// Return the modified message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":300,"wires":[["c61e5cc51dc35fcc"]]},{"id":"191b9ac93739d377","type":"ui_text","z":"dd87151e8399aa08","group":"3a5d5c5f4ce3f0ea","order":0,"width":0,"height":0,"name":"CPU voltage","label":"CPU Voltage","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1110,"y":620,"wires":[]},{"id":"f6be7f607797b761","type":"mqtt in","z":"dd87151e8399aa08","name":"mqtt.mynet","topic":"pi_1/#","qos":"2","datatype":"auto","broker":"1120c9ef2fd3d104","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":200,"wires":[["2c9716cee478692b"]]},{"id":"798503567013853f","type":"ui_text","z":"dd87151e8399aa08","group":"fca6a1c92507ae21","order":0,"width":0,"height":0,"name":"","label":"CPU","format":"{{msg.payload}}","layout":"row-spread","className":"","x":540,"y":780,"wires":[]},{"id":"7379fef97be04a5b","type":"json","z":"dd87151e8399aa08","name":"","property":"payload","action":"","pretty":false,"x":640,"y":860,"wires":[[]]}]